*.pdf
*.ipynb_checkpoints*
*~
lib/__pycache__
data/interview-with-a-syrian-refugee-anonymized.csv
data/interview-with-a-syrian-refugee-longest-word.csv
img/.DS_Store
img/plot.png
.DS_Store
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
.idea
anaconda_projects
.virtual_documents
